*,
*::before,
*::after {
    margin: 0;
    padding: 0;
}

:root {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 62.5%;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;

    @media only screen and (max-width: $bp-1200) {
        font-size: 50%;
    }

    @media only screen and (max-width: $bp-600) {
        font-size: 35%;
    }
}
