$color-primary: #34495e80;
$color-secondary: #27ae60;

$color-bg: #2c3e50;
$color-accent: #3498db;

// --------------------------MEDIA QUERIES-------------------------------
$bp-1200: 75em; //1200px / 16px
$bp-1000: 62.5em;
$bp-800: 50em;
$bp-600: 37.5em;
