// --------------------------MEDIA QUERIES-------------------------------
$bp-1200: 75em; //1200px / 16px
$bp-1000: 62.5em;
$bp-800: 50em;
$bp-600: 37.5em;

$color-element-bg: hsla(0, 0%, 0%, 0.6);
$flamboyant-bg: linear-gradient(
    to top in oklch,
    hsl(28, 65%, 27%),
    hsl(201, 100%, 27%)
);

$between-components: 1.5rem;
