.sidebar {
    position: relative;

    min-width: 250px;
    background-color: $color-element-bg;
    backdrop-filter: blur(10px);
    border-radius: 1rem;
    box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.3);

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    height: 100%;
    margin-right: $between-components;
}

#hook-button {
    background-image: linear-gradient(
        to top in oklch,
        hsl(201, 100%, 27%),
        hsl(201, 81%, 48%)
    );
}

#bots-button {
    background-image: linear-gradient(
        to top in oklch,
        hsl(325, 53%, 26%),
        hsl(325, 32%, 43%)
    );
}

#runners-button {
    background-image: linear-gradient(
        to top in oklch,
        hsl(28, 65%, 27%),
        hsl(28, 96%, 34%)
    );
}
