:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: $background-color;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-content: space-between;
  min-width: 320px;
  min-height: 100vh;
}
